import("methods")
import("S7")
import("purrr")
import("stringr")
import("deSolve")
import("ggplot2")
import("Rcpp")
importFrom("rlang", "obj_address")
importFrom("rmarkdown", "render")
importFrom("tibble", "as_tibble")
importFrom("utils", "combn", "tail", "head", "flush.console")
importFrom("Matrix", "bdiag")
importFrom("Deriv", "Simplify")
importFrom("scales", "pretty_breaks")
importFrom("kableExtra", "kable_styling", "kbl", "add_header_above")
importFrom("stats", "pnorm", "qnorm", "reorder", "uniroot")

useDynLib(PFIM, .registration=TRUE)

export(Additive)
export(Administration)
export(AdministrationConstraints)
export(Arm)
export(BayesianFim)
export(CategoricalCovariate)
export(CategoricalCovariateWithIOV)
export(Combined1)
export(Constant)
export(Covariate)
export(CovariateTest)
export(covariateTest)
export(defineFim)
export(defineModelAdministration)
export(defineModelType)
export(defineModelWrapper)
export(definePKModel)
export(definePKPDModel)
export(Design)
export(Distribution)
export(evaluateArm)
export(evaluateDesign)
export(evaluateInitialConditions)
export(evaluateModel)
export(Evaluation)
export(Exponential)
export(FedorovWynnAlgorithm)
export(Fim)
export(generateReportEvaluation)
export(generateReportOptimization)
export(getDcriterion)
export(getCorrelationMatrix)
export(getFisherMatrix)
export(getFim)
export(getSE)
export(getRSE)
export(getShrinkage)
export(getDeterminant)
export(IndividualFim)
export(LibraryOfPKModels)
export(LibraryOfPDModels)
export(LibraryOfModels)
export(Linear2BolusSingleDose_ClQV1V2)
export(Linear2BolusSingleDose_kk12k21V)
export(Linear2BolusSteadyState_ClQV1V2tau)
export(Linear2BolusSteadyState_kk12k21Vtau)
export(Linear2FirstOrderSingleDose_kaClQV1V2)
export(Linear2FirstOrderSingleDose_kakk12k21V)
export(Linear2FirstOrderSteadyState_kaClQV1V2tau)
export(Linear2FirstOrderSteadyState_kakk12k21Vtau)
export(Linear2InfusionSingleDose_ClQV1V2)
export(Linear2InfusionSingleDose_kk12k21V)
export(Linear2InfusionSteadyState_ClQV1V2tau)
export(Linear2InfusionSteadyState_kk12k21Vtau)
export(LogNormal)
export(Model)
export(ModelAnalytic)
export(ModelAnalyticInfusion)
export(ModelAnalyticInfusionSteadyState)
export(ModelAnalyticSteadyState)
export(ModelError)
export(ModelInfusion)
export(ModelODE)
export(ModelODEBolus)
export(ModelODEDoseInEquations)
export(ModelODEDoseNotInEquations)
export(ModelODEInfusion)
export(ModelODEInfusionDoseInEquation)
export(ModelParameter)
export(MultiplicativeAlgorithm)
export(Normal)
export(Optimization)
export(optimizeDesign)
export(PFIMProject)
export(PGBOAlgorithm)
export(pfim_get_option)
export(pfim_reset_session)
export(pfim_set_option)
export(plotRSE)
export(plotSE)
export(plotShrinkage)
export(plotWeights)
export(plotFrequencies)
export(PopulationFim)
export(prop)
export(Proportional)
export(PSOAlgorithm)
export(Report)
export(run)
export(SamplingTimeConstraints)
export(SamplingTimes)
export(setEvaluationFim)
export(setOptimalArms)
export(SimplexAlgorithm)
export(updateSamplingTimes)
